/* ---------- */
/* Style Umum */
/* ---------- */
* {
  margin: 0;
  padding: 0;
  color: #fff;
}

.bg {
  background-color: #000;
}

/* ------------ */
/* Style Navbar */
/* ------------ */
nav {
  padding: 0 100px;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  overflow: hidden;
}

li {
  float: right;
  width: max-content;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 45px;
  text-decoration: none;
}

/* ------------- */
/* Style Content */
/* ------------- */
.judul_content {
  font-size: 45px;
}

#content {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 30px;
  text-align: justify;
  width: 80%;
  color: #dddddd;
}

.box {
  display: flex;
}

.content {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 30px;
  text-align: justify;
  width: 80%;
}

.font_hz {
  margin-top: 30px;
  margin-right: 40px;
  writing-mode: vertical-lr;
}

/* ------------------ */
/* Style Efek Button  */
/* ------------------ */
.contactus {
  width: max-content;
}

.btn_contact {
  padding: 2px 15px;
  color: #fff;
  background-color: #000;
  border: #fff solid;
}

/* ------------ */
/* Style Footer */
/* ------------ */
.footer {
  margin-top: 150px;
}

.hyperlink {
  text-decoration: none;
}

.icon {
  width: 45px;
}

.footer-col {
  text-align: center;
  width: auto;
}

/* ---------------- */
/* Navbar Responsif */
/* ---------------- */
@media screen and (max-width: 980px) {
  .nav-kanan {
    display: none;
  }
}
