/* ---------- */
/* Style Umum */
/* ---------- */
* {
  margin: 0;
  padding: 0;
  color: #fff;
}

.bg {
  background-color: #000;
}

/* ------------ */
/* Style Navbar */
/* ------------ */
nav {
  /* padding: 0 100px; */
}

ul {
  /* list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  overflow: hidden; */
}

li {
  /* float: right;
  width: max-content; */
}

li a {
  /* display: block;
  color: white;
  text-align: center;
  padding: 14px 45px;
  text-decoration: none; */
}

li a:hover {
  /* background-color: #111; */
  /* color: white; */
}

.floatleft {
  /* float: left; */
}
/* --------------- */
/* Style Jumbotron */
/* --------------- */
.carousel-item {
  width: 100px;
}

.carousel-item img {
  border-radius: 5px;
}

/* ------------- */
/* Style Content */
/* ------------- */
.judul_content {
  font-size: 20px;
}

.content {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 30px;
  text-align: justify;
  width: 80%;
}

.font_hz {
  margin-top: 30px;
  margin-right: 40px;
  writing-mode: vertical-lr;
}

.box {
  display: flex;
}

.btn_detail {
  margin-left: 80px;
  padding: 2px 15px;
  color: #fff;
  background-color: #000;
  border: #fff solid;
}

.box-img {
  margin: 100px auto;
}

.contactus {
  width: max-content;
}

.btn_contact {
  padding: 2px 15px;
  color: #fff;
  background-color: #000;
  border: #fff solid;
}

/* ------------------ */
/* Style Efek Button  */
/* ------------------ */
.btn_detail:hover,
.btn_detail:focus {
  color: #fff;
  outline: 0;
}

.hover {
  box-shadow: 0 0 40px 40px #000 inset, 0 0 0 0 #000;
  transition: all 150ms ease-in-out;
}

.hover:hover {
  /* background-color: #fff; */
  color: #fff;
  box-shadow: 0 0 10px #fff inset, 0 0 10px 4px #fff;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  z-index: 99;
  margin-bottom: 100px;
  padding-top: 5px;
}

li {
  list-style-type: none;
}

ul {
  display: block;
  float: left;
}

ul a {
  display: block;
  text-align: center;
  padding: 16px 50px;
  text-decoration: none;
  color: #fff;
}

img {
  /* width: 100px; */
}

.nav-kanan {
  /* align-items: center; */
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.nav-kiri {
  display: flex;
  width: 20%;
}

.nav-link-masuk {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: calc(100% - 700px);
}

.benefit-content {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.nav-logo {
  height: 42px;
  margin-right: 27px;
  transform: translateY(7px);
  width: auto;
}

.main-nav {
  list-style: none;
}

.main-nav-second {
  display: none;
}

.nav-kanan-second {
  align-items: center;
  display: none;
  width: 20%;
}

.container-mui {
  width: 100%;
  /* margin: 0px auto; */
  margin-right: 80px;
  margin-left: 80px;
}

.nav-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0px;
}

.nav-masuk a {
  /* background-color: #e2f3f4; */
  font-size: 15px;
  display: block;
  margin-top: 0px;
  width: 100px;
  color: #fff;
  padding: 10px 10px;
  /* font-weight: bold; */
  border-radius: 20px;
  cursor: pointer;
  border: none;
  text-decoration: none;
  /* box-shadow: 0px 1px 3px rgb(0 0 0 / 20%), 0px 2px 1px rgb(0 0 0 / 12%), */
  /* 0px 1px 1px rgb(0 0 0 / 14%) !important; */
}

/* ------------ */
/* Style Footer */
/* ------------ */
.footer {
  margin-top: 150px;
}

.hyperlink {
  text-decoration: none;
}

.icon {
  width: 45px;
}

.footer-col {
  text-align: center;
  width: auto;
}

.footer {
  margin-top: 150px;
}

.hyperlink {
  text-decoration: none;
}

.icon {
  width: 45px;
}

.footer-col {
  text-align: center; 
  width: auto;
}